<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
        <h1>Group Details</h1>
        <ul>    
            <li><a href="#">Indian</a></li><br>
            {% comment %} <li><a href="{% url 'index' %}">Nepal</a></li><br>
            <li><a href="{% url 'index' %}">Pakistan</a></li><br>
            <li><a href="{% url 'index' %}">America</a></li><br>
            <li><a href="{% url 'index' %}">China</a></li><br>
            <li><a href="{% url 'index' %}">Russia</a></li><br>
            <li><a href="{% url 'index' %}">Index</a></li> {% endcomment %}
        </ul>
</body>
</html>